
#app2{
    border: 1px solid blue;
}
#app2 .tab-bar{
    display: flex;
}
#app2 .tab-bar>li{
    width: 50%;
    border: 1px solid gray;
}
#app2 .tab-bar>li.selected{
    background-color: pink;
}
#app2 .tab-content>li{

    display: none;
}
#app2 .tab-content>li.active{

    display: block;
}